:root {
  --doc-font: Inter, sans-serif;
}

:root[data-font="serif"] {
  --content-font: Georgia, "Times New Roman", serif;
}

:root[data-font="sans"] {
  --content-font: Inter, sans-serif;
}

/* Documentation page content */
.sl-markdown-content {
  font-family: var(--content-font);
}

/* Sidebar navigation */
.sidebar-content,
.sidebar-content * {
  font-family: var(--content-font);
}

/* "On this page" navigation */
.right-sidebar,
.right-sidebar * {
  font-family: var(--content-font);
}

/* Previous / Next page cards */
.pagination-links,
.pagination-links * {
  font-family: var(--content-font);
}

/* Search results */
.sl-search,
.sl-search * {
  font-family: var(--content-font);
}

/* Adding external icon to external links */
.sl-markdown-content a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.25em;
  vertical-align: text-bottom;

  background-color: currentColor;

  -webkit-mask-image: url("/public/external-icon.svg");
  mask-image: url("/public/external-icon.svg");

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: contain;
  mask-size: contain;

  -webkit-mask-position: center;
  mask-position: center;
}

/*Disabling copy button via code block class*/
.no-copy .copy {
  display: none !important;
}